extends layout 

block content
  if currentUser 
    h3 Hello, #{currentUser.username}
  
  each post in posts
    div.post
      div.post-info
        span Posted by  
        if !currentUser
          span
            a(href="/membership") Anonymous
        else if currentUser.member 
          span=post.user.username
          span  • #{formatDistanceToNow(post.timestamp, { addSuffix: true })}
        else
          span
            a(href="/membership") Anonymous

      h4.title=post.title
      p.message=post.message