extends layout 

block content
  if currentUser 
    h3 Hello, #{currentUser.username}
  
  each post in posts
    div.post
      div.post-info
        span Posted by 
        if !currentUser
          span
            a(href="/membership") Anonymous
        else if currentUser.membership_status 
          span=post.user.username
        else
          span
            a(href="/membership") Anonymous
        span  | 
        span=post.timestamp
      h4.title=post.title
      p=post.message