extends layout 

block content
  if currentUser 
    h3 Hello, #{currentUser.username}
  
  each post in posts
    div.post
      div.post-info
        span Posted by 
        if currentUser && currentUser.member 
          span=post.user.username
          span  • #{formatDistanceToNow(post.timestamp, { addSuffix: true })}
        else
          span
            a(href="/membership") Anonymous
      div.post-details
        div.post-details-admin
          h4.title=post.title
          if currentUser && currentUser.admin
            a.delete-btn(href=post.url+'/delete')
              i.bi.bi-trash.fa-4x
        p.message=post.message